#da-widgets-settings-icon {background:transparent url(theme/officialdeviantArtlogo.png) no-repeat scroll 50% 50%;}
#da-widgets-version {font-style:italic;margin-top:0}
#da-widgets-settings div.postbox h3 {cursor:default;}
#da-widgets-settings span.global-settings {background-image:url(theme/wrench.png);background-repeat:no-repeat;padding:1px 0px 1px 20px;}